#SmartCLIDE-Widget-App {
  padding: 50px;
}
.d-flex {
  display: flex;
  padding: 3px 2px;
}
.d-flex.space-bettwen {
  justify-content: space-between;
}
.d-flex.space-bettwen.center {
  align-items: center;
}
/* ELEMENTS IN MAIN WINDOW  */
.p-Widget.p-Panel.p-SplitPanel.p-SplitPanel-child #SmartCLIDE-Widget-App {
  display: block;
}
.p-Widget.p-Panel.p-SplitPanel.p-SplitPanel-child #SmartCLIDE-Widget-Bar {
  display: none;
}

/* ELEMENTS IN SIDE WINDOW  */
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child #SmartCLIDE-Widget-App {
  display: none;
}
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child #SmartCLIDE-Widget-Bar {
  display: block;
}

/* ICON FOR EXTENSION SHOW IN DOCK LOCK PANEL  */
.icon-custom {
  background-image: url('../images/deployment-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.33;
}
.icon-custom:hover {
  opacity: 0.7;
}
