#SmartCLIDE-Widget-App {
  padding: 50px;
}
#SmartCLIDE-Widget-App .d-flex {
  display: flex;
}
#SmartCLIDE-Widget-App .d-flex.space-bettwen {
  justify-content: space-between;
}
#SmartCLIDE-Widget-App .d-flex.space-bettwen.center {
  align-items: center;
}
#SmartCLIDE-Widget-App p {
  margin: 0;
}
#SmartCLIDE-Widget-App .p-xs {
  padding: 5px;
}
#SmartCLIDE-Widget-App .mr-xs {
  margin-right: 5px;
}
/* ELEMENTS IN MAIN WINDOW  */
.p-Widget.p-Panel.p-SplitPanel.p-SplitPanel-child #SmartCLIDE-Widget-App {
  display: block;
}
.p-Widget.p-Panel.p-SplitPanel.p-SplitPanel-child #SmartCLIDE-Widget-Bar {
  display: none;
}

/* ELEMENTS IN SIDE WINDOW  */
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child #SmartCLIDE-Widget-App {
  display: none;
}
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child #SmartCLIDE-Widget-Bar {
  display: block;
}

/* ICON FOR EXTENSION SHOW IN DOCK LOCK PANEL  */
#SmartCLIDE-Widget-App .icon-custom {
  background-image: url('../images/deployment-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.33;
}
#SmartCLIDE-Widget-App .icon-custom:hover {
  opacity: 0.7;
}
