#SmartCLIDE-Deployment-App #Price,
#SmartCLIDE-Deployment-Bar #Price {
  box-sizing: border-box;
  max-width: 50%;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  min-height: 100%;
  letter-spacing: 1.3px;
  margin-right: 10px;
}
#SmartCLIDE-Deployment-App #Price.current,
#SmartCLIDE-Deployment-Bar #Price.current {
  border: 0.5px solid #9a9a9a;
  opacity: 1;
}
#SmartCLIDE-Deployment-App #Price h3,
#SmartCLIDE-Deployment-Bar #Price h3 {
  margin: 0;
  font-weight: lighter;
  font-size: 20px;
  background-color: #546e7a;
  padding: 15px;
  color: #fff;
}
#SmartCLIDE-Deployment-App #Price h4,
#SmartCLIDE-Deployment-Bar #Price h4 {
  margin: 0;
  font-weight: lighter;
  font-size: 49px;
  color: #fff;
  padding: 30px;
  line-height: 40px;
  background-color: #333;
}

#SmartCLIDE-Deployment-App #Price h4 span,
#SmartCLIDE-Deployment-Bar #Price h4 span {
  font-size: 16px;
  font-style: italic;
}
#SmartCLIDE-Deployment-App #Price h4 span.currency,
#SmartCLIDE-Deployment-Bar #Price h4 span.currency {
  font-style: normal;
  font-size: 32px;
}
#SmartCLIDE-Deployment-Bar #WrapperPrice.d-flex {
  display: flex;
}

#SmartCLIDE-Deployment-Bar #Price h3 {
  font-size: 11px;
  min-height: 25px;
  line-height: 13px;
}
#SmartCLIDE-Deployment-Bar #Price h4 {
  font-size: 24px;
  line-height: 20px;
  padding: 15px;
}
#SmartCLIDE-Deployment-Bar #Price h4 span {
  font-size: 8px;
}
#SmartCLIDE-Deployment-Bar #Price h4 span.currency {
  font-size: 19px;
}
