@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --bs-primary: #2980f2;
  --bs-body-color: rgba(238, 238, 238, 0.7);
  --bs-body-bg: #212529;
  --bs-body-color-base: #212529;
  --bs-container-color-base: #3a3a3a;
  --blue-deep: --bs-primary;
  --blue-sea: #2995d9;
  --blue-sky: #29b9d9;
  --blue-aqua: #2bd9d9;
  --grey-ligth: #cccccc;
  --theia-foreground: #616161;
  --theia-sideBarSectionHeader-foreground: #616161;
}

body:not(.theia-light) {
  --theia-foreground: #cccccc;
  --theia-sideBarSectionHeader-foreground: #cccccc;
}
/* RESET REBOOT STYLES */
body:not(.theia-light),
body:not(.theia-light) .theia-notification-message,
body:not(.theia-light) .theia-notification-message span {
  color: #cccccc !important;
}
body:not(.theia-light) a {
  color: #cccccc !important;
  text-decoration: none !important;
}

#SmartCLIDE-Widget-App {
  padding: 30px;
  margin: 0 auto;
  color: var(--bs-body-color-base);
  background-color: var(--bs-container-color-base);
}

.Logo-header--background {
  background-image: url('../images/SmartClide-mono-155x80.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  max-height: 55px;
}

.items-center {
  align-items: center;
}
.Alert-fixed--top-right {
  position: fixed;
  top: 60px;
  right: 60px;
  z-index: 99999999;
  width: 100%;
  max-width: 50vw;
}
.react-bootstrap-table-pagination-list {
  justify-items: end;
}
.react-bootstrap-table-pagination-list .page-item.disabled .page-link,
.react-bootstrap-table-pagination-list .page-link {
  color: var(--grey-ligth);
  border-color: var(--grey-ligth);
  background-color: var(--bs-body-color-base);
}
.react-bootstrap-table-pagination-list .page-item.active .page-link {
  color: var(--grey-ligth);
  border-color: var(--bs-primary);
  background-color: var(--bs-primary);
}

.bg-dark .form-label {
  color: var(--grey-ligth);
}
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.Cards-color--blue-deep,
.Cards-color--blue-sea,
.Cards-color--blue-sky,
.Cards-color--blue-aqua,
.Cards-color--gray-ligth {
  background-color: #4a4949;
  border-color: rgba(245, 245, 245, 0.5);
  border-radius: 0;
  margin: 0 auto;
}
.Cards-color--blue-deep h2,
.Cards-color--blue-sea h2,
.Cards-color--blue-sky h2,
.Cards-color--blue-aqua h2,
.Cards-color--gray-ligth h2 {
  margin-bottom: 0;
  font-size: 2.8em;
}
.Cards-color--blue-deep .fa,
.Cards-color--blue-sea .fa,
.Cards-color--blue-sky .fa,
.Cards-color--blue-aqua .fa,
.Cards-color--gray-ligth .fa {
  font-size: 1.6em;
  display: block;
  margin: 0 auto;
}
.Cards-color--blue-deep .fa {
  color: var(--blue-deep);
}
.Cards-color--blue-sea .fa {
  color: var(--blue-sea);
}
.Cards-color--blue-sky .fa {
  color: var(--blue-sky);
}
.Cards-color--blue-aqua .fa {
  color: var(--blue-aqua);
}
.Cards-color--gray-ligth .fa {
  color: var(--grey-ligth);
}
.Cards-color--blue-deep p,
.Cards-color--blue-sea p,
.Cards-color--blue-sky p,
.Cards-color--blue-aqua p,
.Cards-color--gray-ligth p {
  color: var(--grey-ligth);
}

/* ELEMENTS IN MAIN WINDOW  */
.p-Widget.p-Panel.p-SplitPanel.p-SplitPanel-child #SmartCLIDE-Widget-App {
  display: block;
}
.p-Widget.p-Panel.p-SplitPanel.p-SplitPanel-child #SmartCLIDE-Widget-Icon {
  display: none;
}
/* ELEMENTS IN SIDE WINDOW  */
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child #SmartCLIDE-Widget-App {
  display: none;
}
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child
  #SmartCLIDE-Widget-Icon {
  display: block;
}
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child
  #SmartCLIDE-Widget-Icon
  > .Logo {
  margin: 0 auto;
}
.p-Widget.p-DockPanel.theia-side-panel.p-BoxPanel-child
  #SmartCLIDE-Widget-Icon
  > .Arrows-animated {
  background-image: url('../images/drag_n_drop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0px;
  width: 100%;
  max-width: 155px;
  height: 100vh;
  max-height: 70px;
  margin: 0 auto;
  display: block;
}
.icon-custom {
  background-image: url('../images/SmartClide_99x60.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 67%;
}
.pagination-sm .page-item .page-link {
  border: 0;
}
